# ignore all files
# /.*
.vim/bundle/*
.vim/bundle/.neobundle/doc/*
.vim/bundle/.neobundle/doc/tags
.vim/bundle/.neobundle/doc/syntastic.txt
!.vim/bundle/neobundle.vim


# require files

!/Documents/terminal/*.terminal
!/bin
!/.bashrc
!/.bash_profile
!/.gitconfig
!/.gitignore
!/.gvimrc
!/.screenrc
!/.tmux.conf
!/.vimperatorrc
!/.vimrc
!/.vim
!/.zsh.d
!/.zsh.d/*
!/.zshenv
!/.zshrc
!/.agignore
!/.clang-format
!/clear_backups
# add ignore files
.DS_Store
.svn
*.pyc
.netrwhist
# add local files
*.local
